<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Request Header Parser Microservice</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>Request Header Parser Microservice</h1>
      <h3>Example usage:</h3>
      <p><code>[project_url]/api/whoami</code></p>
      <h3>Example output:</h3>
      <p>
        <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
      </p>
      <p><a href="/api/whoami">Try it now</a></p>
    </main>
  </body>
</html>